* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
}
.header__logo {
  margin: auto 0px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BABBC5;
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 31px;
       column-gap: 31px;
}

.btn {
  display: block;
  max-width: 370px;
  width: 100%;
  background-color: rgb(255, 67, 67);
  margin: 0 auto;
  padding: 26px 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", serif;
  color: #ffffff;
  border: none;
}
.btn:hover {
  background-color: rgb(231, 20, 20);
}
.btn:active {
  box-shadow: 4px 4px 30px 0 rgb(255, 67, 67);
}

.nav {
  display: flex;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.nav__link {
  text-align: center;
  text-decoration: none;
  min-width: 134px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  font-family: "Raleway", serif;
  color: #ffffff;
  display: block;
  padding: 32px 0;
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  color: #ffffff;
  border-bottom: 3px solid #BABBC5;
}
.nav__link:active {
  color: #ff4343;
  border-bottom: 3px solid #ff4343;
}
.nav:hover {
  border-color: red;
}
.nav:active {
  border-color: red;
}

.banner {
  background-image: url(../images/bannerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 230px 0 120px;
  position: relative;
  margin-bottom: 116px;
}
.banner::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}
.banner__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  font-family: "Raleway", serif;
  color: #ffffff;
  margin-bottom: 31px;
}
.banner__text {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", serif;
  color: #ffffff;
  margin: 0 auto 79px;
  max-width: 1000px;
}
.banner__container {
  z-index: 1;
  position: relative;
}

.advantages {
  margin-bottom: 116px;
}
.advantages__blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 89px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 51px;
}
.advantages__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", serif;
  color: #2d3033;
  margin-bottom: 42px;
  text-transform: uppercase;
}
.advantages__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #6c7279;
  text-align: center;
}

.portfolio {
  margin-bottom: 116px;
}
.portfolio__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}
.portfolio__item {
  overflow: hidden;
  aspect-ratio: 1/1;
  position: relative;
}
.portfolio__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.portfolio__content {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 0;
  padding: 10px;
}
.portfolio__content:hover {
  opacity: 1;
}
.portfolio__content:active {
  opacity: 1;
  background-color: rgba(185, 12, 12, 0.8);
}
.portfolio__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", serif;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .portfolio__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    font-family: "Raleway", serif;
    color: #ffffff;
  }
}
.portfolio__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1024px) {
  .portfolio__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: "Raleway", serif;
    color: #ffffff;
  }
}

.team {
  margin-bottom: 116px;
}
.team__blocks {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
.team__foto-wrapper {
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 30px;
}
.team__foto-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-family: "Raleway", serif;
  color: #2d3033;
  margin-bottom: 6px;
}
.team__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #ff4343;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.team__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #6c7279;
  margin-bottom: 38px;
}
.team__social {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
}
.team__social-block {
  width: 39px;
  height: 39px;
  overflow: hidden;
  border: 1px solid #c6cbcd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.download {
  margin-bottom: 116px;
  text-align: center;
}
.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  font-family: "Raleway", serif;
  color: #000;
  margin-bottom: 22px;
}
.download__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #000;
  margin-bottom: 48px;
  text-transform: uppercase;
}

.footer {
  background-color: #353c65;
  padding-top: 71px;
}
.footer__top {
  display: grid;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 71px;
  grid-template-columns: repeat(3, 1fr);
}
.footer__location {
  text-align: center;
}
.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #ffffff;
  margin-bottom: 29px;
  text-transform: uppercase;
}
.footer__blocks {
  display: flex;
  -moz-column-gap: 27px;
       column-gap: 27px;
  justify-content: center;
  margin-top: 49px;
}
.footer__link {
  width: 39px;
  height: 39px;
  overflow: hidden;
  border: 1px solid #c6cbcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #ffffff;
}
.footer__bottom {
  background-color: #2c3154;
  padding: 24px 0;
}
.footer__bottom-container {
  max-width: 370px;
  width: 100%;
  padding: 24px 0px;
}
.footer__bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", serif;
  color: #808080;
  text-align: center;
}
.footer__bottom-end {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */