* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 1s;
}

$lightcolor: #ffffff;
$primaryfontfamily: "Raleway", serif;
$secondaryfontfamily: "Cardo", serif;
$h3color: #2d3033;
$primarytextcolor: #6c7279;
$red: #ff4343;
$sliderborder: #7e5d6f;

@mixin font(
  $fontweight: 400,
  $fontsize,
  $lineheight,
  $color: $lightcolor,
  $fontfamily: $primaryfontfamily
) {
  font-weight: $fontweight;
  font-size: $fontsize;
  line-height: $lineheight;
  font-family: $fontfamily;
  color: $color;
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;

  &__logo {
    margin: auto 0px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #babbc5;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 31px;
  }
}

.btn {
  display: block;
  max-width: 370px;
  width: 100%;
  background-color: rgba(255, 67, 67, 1);
  margin: 0 auto;
  padding: 26px 10px;
  text-transform: uppercase;
  @include font(900, 24px, 28px);
  border: none;

  &:hover {
    background-color: rgba(231, 20, 20, 1);
  }

  &:active {
    box-shadow: 4px 4px 30px 0 rgba(255, 67, 67, 1);
  }
}

.nav {
  display: flex;
  column-gap: 5px;

  &__link {
    text-align: center;
    text-decoration: none;
    min-width: 134px;
    text-transform: uppercase;
    @include font(700, 13px, 15px);
    display: block;
    padding: 32px 0;
    border-bottom: 3px solid transparent;

    &:hover {
      color: $lightcolor;
      border-bottom: 3px solid #babbc5;
    }

    &:active {
      color: $red;
      border-bottom: 3px solid $red;
    }
  }

  &:hover {
    border-color: red;
  }

  &:active {
    border-color: red;
  }
}

.banner {
  background-image: url(../images/bannerBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 230px 0 120px;
  position: relative;
  margin-bottom: 116px;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.8);
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
    @include font(900, 64px, 75px);
    margin-bottom: 31px;
  }

  &__text {
    text-align: center;
    @include font(400, 24px, 28px);
    margin: 0 auto 79px;
    max-width: 1000px;
  }

  &__container {
    z-index: 1;
    position: relative;
  }
}

.advantages {
  margin-bottom: 116px;

  &__blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 89px;
    column-gap: 25px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 51px;
  }

  &__title {
    @include font(900, 24px, 28px, $h3color);
    margin-bottom: 42px;
    text-transform: uppercase;
  }

  &__text {
    @include font(400, 18px, 21px, $primarytextcolor);
    text-align: center;
  }
}

.portfolio {
  margin-bottom: 116px;

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
  }

  &__item {
    overflow: hidden;
    aspect-ratio: 1 / 1;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 67, 67, 0.8);
    opacity: 0;
    padding: 10px;

    &:hover {
      opacity: 1;
    }
    &:active {
      opacity: 1;
      background-color: rgba(185, 12, 12, 0.8);
    }
  }
  &__title {
    @include font(900, 24px, 28px, $lightcolor);
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
      @include font(900, 18px, 21px);
    }
  }

  &__text {
    @include font(400, 18px, 21px, $lightcolor);
    text-align: center;

    @media (max-width: 1024px) {
      @include font(400, 14px, 16px);
    }
  }
}

.team {
  margin-bottom: 116px;

  &__blocks {
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__foto-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    margin-bottom: 30px;
  }

  &__foto-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__name {
    @include font(700, 24px, 28px, $h3color);
    margin-bottom: 6px;
  }

  &__job {
    @include font(400, 18px, 21px, $red);
    text-transform: uppercase;
    margin-bottom: 18px;
  }

  &__text {
    @include font(400, 18px, 21px, $primarytextcolor);
    margin-bottom: 38px;
  }

  &__social {
    display: flex;
    column-gap: 6px;

    &-block {
      width: 39px;
      height: 39px;
      overflow: hidden;
      border: 1px solid #c6cbcd;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.slider {
  margin-bottom: 116px;
  padding-bottom: 44px;

  &__blocks {
    display: flex;

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__img {
    width: 50%;

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  &__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    background-color: #7e5d6f;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px 10px 10px;
    row-gap: 24px;

    @media (max-width: 768px) {
      width: 100%;
    }

    &-title {
      @include font(400, 36px, 49px, $lightcolor, $secondaryfontfamily);
      max-width: 471px;
      width: 100%;
      font-style: italic;
    }

    &-autor {
      @include font(700, 13px, 15px, $lightcolor);
      max-width: 471px;
      width: 100%;
      text-transform: uppercase;
    }
  }

  &__linck {
    display: flex;
    justify-content: center;
    column-gap: 25px;
  }

  &__next {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $sliderborder;
  }

  &__active {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $sliderborder;
    background-color: $sliderborder;
  }

  &.swiper-horizontal > .swiper-pagination-bullets,
  &.swiper-pagination-bullets.swiper-pagination-horizontal,
  &.swiper-pagination-custom,
  &.swiper-pagination-fraction {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid $sliderborder;
    background-color: transparent;
    opacity: 1;
    margin: 0 !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $sliderborder;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
  }
}

.download {
  margin-bottom: 116px;
  text-align: center;

  &__title {
    @include font(500, 30px, 35px, #000);
    margin-bottom: 22px;
  }

  &__text {
    @include font(700, 18px, 21px, #000);
    margin-bottom: 48px;
    text-transform: uppercase;
  }
}

.footer {
  background-color: #353c65;
  padding-top: 71px;

  &__top {
    display: grid;
    column-gap: 30px;
    margin-bottom: 71px;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 34px;
    }
  }

  &__location {
    text-align: center;
  }

  &__title {
    @include font(700, 18px, 21px, $lightcolor);
    margin-bottom: 29px;
    text-transform: uppercase;
    @media (max-width: 1024px) {
      @include font(700, 14px, 16px, $lightcolor);
    }
  }

  &__blocks {
    display: flex;
    column-gap: 27px;
    justify-content: center;
    margin-top: 49px;
  }

  &__link {
    width: 39px;
    height: 39px;
    overflow: hidden;
    border: 1px solid #c6cbcd;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1024px) {
      width: 33px;
      height: 33px;
    }
  }

  &__text {
    @include font(400, 18px, 21px, $lightcolor);
    @media (max-width: 1024px) {
      @include font(400, 14px, 16px, $lightcolor);
    }
  }

  &__bottom {
    background-color: #2c3154;
    padding: 14px 0;

    &-container {
      max-width: 370px;
      width: 100%;
      padding: 24px 0px;

      @media (max-width: 1024px) {
        padding: 0 20px;
      }
    }

    &-text {
      @include font(400, 18px, 21px, #808080);
      text-align: center;

      @media (max-width: 1024px) {
        @include font(400, 14px, 16px, #808080);
      }
    }

    &-end {
      color: $lightcolor;
    }
  }
}
